{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'student/style.css' %}"/>
    {% block head %}

        <title>{% block title %}{% endblock %} - My Webpage</title>
    {% endblock %}
</head>
<body>
<div id="content">{% block content %}{% endblock %}</div>
<div id="footer">
    {% block footer %}
        &copy; Copyright 2008 by <a href="http://domain.invalid/">you</a>.
    {% endblock %}
</div>
</body>
</html>