* {
    margin: 0px;
    padding: 0px;
}


div {
    background-color: aqua;
}

p {
    color: red;
}


div.container {
    background-color: aqua;
}

p.hello {
    color: red;
}

a:link {
    color: blue;
}

/* Unvisited links */
a:visited {
    color: purple;
}

/* Visited links */
a:hover {
    background: yellow;
}

/* Hovered links */
a:active {
    color: red;
}

/* Active links */

p:active {
    background: #eee;
}

/* Active paragraphs */